[run]
source = bpui
omit =
    */tests/*
    */tui/*
    */tools/*
    */gui/*
    */features/offspring/*
    */features/rehash/*
    */features/seed_generator/*
    */features/similarity/similarity.py
    */utils/file_io/validate.py
    */utils/metadata/asset_versions.py
    */__pycache__/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
